* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary-color: #4D533C;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-button{
  background: var(--primary-color);
  height: 5px;
}

::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

body {
  font-family: "Poppins";
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFD723!important;
}

img {
  max-width: 100%;
}

.background {
  background: #4f553d59;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(50px) opacity(0.5);
}

section .divider {
  height: 1px;
  margin-top: -100px;
  padding: 0 20px 0 20px;
}

section .divider>.divider-inner {
  background: #21384238;
  height: 100%;
  width: 100%;
}

a>.icon {
  margin-right: 10px;
}

#root {
  overflow-x: hidden;
}

@media only screen and (min-width: 961px) {
  section .divider {
    height: 1px;
    margin-top: -100px;
    padding: 0 195px 0 195px;
  }
  section .divider>.divider-inner {
    background: #21384238;
    height: 100%;
    width: 100%;
  }
}